<footer>
    <p>© 2025 Syed Ali Mustafa Wasti</p>

    <div class="social-links">
        <a href="https://github.com/VideoPants" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/syed-ali-mustafa-wasti-34723b283/" target="_blank">LinkedIn</a>
    </div>
</footer>
