<header>
    <nav class="navbar">
        <div class="nav-brand">Syed Ali Mustafa Wasti</div>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
