<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Syed Ali Mustafa Wasti - Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
{{> header}}

<main>
    <section class="intro">
        <img src="img/header.jpg">

        <br>

        <p>Aspiring Software Engineering intern with a keen interest in Astronomy and a strong foundation in coding and
            development which includes Spring Boot, SQL, Spring Boot DBMS, Python, Java, HTML and CSS seeking an
            opportunity to apply my skills, gain hands-on experience, and further enhance my expertise in a proessional
            setting. Available for a full-time internship from May to August 2025.</p>
    </section>

    <section class="section">
        <h2>Education</h2>

        <p>BSc Computing & Information Technology – RIT Dubai (2024–2027)</p>
        <p><strong>Relevant Coursework:</strong> Spring Boot, Java, Python, HTML and CSS, Javascript, SQL, MariaDB, Git
            Version Control, System Admin</p>
    </section>

    <section class="section">
        <h2>Experience</h2>

        <div class="experience-scroll">

            <div class="experience-card">
                <h3>Personal Projects</h3>
                <p>March 2021 — Present</p>

                <ul>
                    <li>Implemented a website for a fully functional Flight Search and Payment Website using Flight API
                        Keys, Spring Boot, Database (MariaDB), HTML, and CSS.
                    </li>
                    <li>Implemented an application for a fully functional Shopping Cart System using the Command Line
                        Interface and Python
                    </li>
                </ul>
            </div>

            <div class="experience-card">
                <h3>System Administration – RIT Dubai</h3>
                <p>January 2025 — April 2025</p>

                <ul>
                    <li>Implemented cost-effective servers using Windows Server 2022.</li>
                    <li>Connected clients across Windows and Linux platforms.</li>
                </ul>
            </div>

            <div class="experience-card">
                <h3>Group Projects</h3>
                <p>January 2023 — Apr 2025</p>

                <ul>
                    <li>Implemented an Aiport Management System along with a GUI using Java and JavaFX.</li>
                    <li>Led a team of 3 people to create a fully functional website about Space and its Mysteries using
                        HTML and CSS.
                    </li>
                </ul>
            </div>

            <div class="experience-card">
                <h3>Personnel Management – Jashn-e-Urdu</h3>
                <p>December 2020 — Present</p>

                <ul>
                    <li>Collaborated with a team of volunteers to manage and sort personnel, VIP’s and poets for the
                        “Jashne-Urdu” event every year.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <h2 class="skills-vertical">Skills</h2>
        <ul class="skills-vertical">
            <li>
                <div class="skill-label">
                    <span>Java</span>
                    <span class="stars">★★★★★</span>
                </div>
                <div class="skill-bar">
                    <div class="skill-level" style="width: 100%;"></div>
                </div>
            </li>

            <li>
                <div class="skill-label">
                    <span>Spring Boot</span>
                    <span class="stars">★★★★☆</span>
                </div>
                <div class="skill-bar">
                    <div class="skill-level" style="width: 80%;"></div>
                </div>
            </li>
            <li>
                <div class="skill-label">
                    <span>Python</span>
                    <span class="stars">★★★★☆</span>
                </div>
                <div class="skill-bar">
                    <div class="skill-level" style="width: 80%;"></div>
                </div>
            </li>

            <li>
                <div class="skill-label">
                    <span>HTML/CSS</span>
                    <span class="stars">★★★★★</span>
                </div>
                <div class="skill-bar">
                    <div class="skill-level" style="width: 100%;"></div>
                </div>
            </li>

            <li>
                <div class="skill-label">
                    <span>JavaScript</span>
                    <span class="stars">★★★☆☆</span>
                </div>
                <div class="skill-bar">
                    <div class="skill-level" style="width: 60%;"></div>
                </div>
            </li>

            <li>
                <div class="skill-label">
                    <span>SQL</span>
                    <span class="stars">★★★★★</span>
                </div>
                <div class="skill-bar">
                    <div class="skill-level" style="width: 100%;"></div>
                </div>
            </li>

            <li>
                <div class="skill-label">
                    <span>Git Version Control</span>
                    <span class="stars">★★★★☆</span>
                </div>
                <div class="skill-bar">
                    <div class="skill-level" style="width: 80%;"></div>
                </div>
            </li>
        </ul>
    </section>
</main>

{{> footer}}

<script src="/js/main.js"></script>
</body>
</html>
