<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projects - Syed Ali Mustafa Wasti</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
{{> header}}

<main>
    <section class="section" id="projects">
        <h2>Projects:   </h2>

        <a href="https://github.com/RIT-D/projects-flightsync" target="_blank">
            <div class="project-card">
                <h3>FlightSync – Flight Search and Payment Website</h3>
                <p>Designed a fully functional flight search and payment portal using:</p>

                <ul>
                    <li>Spring Boot</li>
                    <li>Flight API Integration</li>
                    <li>MariaDB</li>
                    <li>HTML & CSS</li>
                    <li>Javascript</li>
                </ul>
            </div>
        </a>

        <a href="https://github.com/VideoPants/Banking-Data-Visualizer" target="_blank">
            <div class="project-card">
                <h3>Banking Data Visualizer</h3>
                <p>Created a Python program to process CSV files and generate various graphs representing banking data using:</p>

                <ul>
                    <li>Python</li>
                    <li>Pandas</li>
                    <li>Matplotlib</li>
                    <li>Seaborn</li>
                </ul>
            </div>
        </a>

        <a href="https://github.com/VideoPants/The-Light-and-Darkness-of-the-Universe" target="_blank">
            <div class="project-card">
                <h3>The Light and Darkness of the Universe</h3>
                <p>Developed a website exploring the mysteries of space using:</p>

                <ul>
                    <li>HTML & CSS</li>
                </ul>
            </div>
        </a>

    </section>
</main>

{{> footer}}

<script src="/js/main.js"></script>
</body>
</html>
